main {
    color: white;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
    font-size: 4vw;
    background-color: var(--bg-s1);
}

body {
    background-color: #1e1e1e;
}

@media screen and (orientation: landscape) {
    .header-search {
        margin-bottom: 15vh;
    }
}

@media screen and (orientation: portrait) {
    .header-search {
        margin-bottom: 13.5vh;
    }
}
